
<%- include('partials/header'); %>

<!--Container Main start-->
<div class="height-100 bg-light">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>EDIT SPARE PART</h4>
                    </div>
                </div>
                <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <%= error.msg %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                      </div>
                  </div>
                    <% }); %> <% } %> <% if(success_msg != ''){ %>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <%= success_msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                      
                    <% } %> <% if(error_msg != ''){ %>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <%= error_msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                    <% } %> <% if(error != ''){ %>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <%= error %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <form  action="/spare-edit" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" name="name" class="form-control form-control-sm mb-2" id="name" placeholder="Type Here" value="<%= spare.name %>" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="stock" class="form-label">Stock:</label>
                            <input type="text" name="stock" class="form-control form-control-sm mb-2" id="stock" placeholder="Type Here" value="<%= spare.stock %>" required>
                        </div>
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="text" name="price" class="form-control form-control-sm mb-2" id="price" placeholder="Type Here" value="<%= spare.price %>" required>
                        </div>
                        <div class="col-md-4">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" name="description" class="form-control form-control-sm mb-2" id="description" placeholder="Type Here" value="<%= spare.description %>" required>
                        </div>
                        <input type="hidden" id="id" name="id" value= <%= spare.id %>>

                        <div class="text-end mt-2">
                            <input type="submit" class="btn btn-danger btn-sm" value="EDIT SPARE PART">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>